@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");


/* Fonts */
$primary-font: "Poppins", sans-serif;
$footer-font: "Montserrat", sans-serif;

/* colors */
$clr-white: #ffffff;
$clr-heading: #f2f2f2;
$clr-answer: rgba(96, 102, 208, 0.8);
$clr-result: #1d355d;
$clr-question: #2f527b;
$clr-border: rgba(96, 102, 208, 0.7);
$clr-green: #6fcf97;
$bg-selection: #f9a826;
$bg-warning: #ea8282;
$bg-success: #60bf88;

@mixin text($size, $color, $weight) {
    font-family: $primary-font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background: linear-gradient(to left, #30e8bf, #ff8235);

    background-image: url("./Assets/images/background.png");
    // background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    /* Header*/

    .header {
        @include text(3.6rem, $clr-heading, 700);
        text-transform: uppercase;
    }

    /* Card */
    .card {
        width: 46.4rem;
        // min-height: 51.5rem;
        background-color: $clr-white;
        border-radius: 24px;
        position: relative;
        box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);

        .card-img {
            position: absolute;
            top: -71px;
            right: 0;
        }

        .card-body {
            padding: 7rem 3.5rem;

            .card-flag {
                width: 30%;
                filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
                border-radius: 4px;
                margin-bottom: 1.5rem;
            }

            .card-question {
                @include text(2.4rem, $clr-question, 700);
                padding-bottom: 3rem;
            }

            .answers-container {
                display: grid;
                gap: 2rem;

                .answer-item {
                    @include text(1.8rem, $clr-answer, 500);
                    padding: 1rem 2rem;
                    border: 2px solid $clr-border;
                    border-radius: 12px;
                    align-items: center;

                    display: grid;
                    grid-template-columns: 1fr 4fr 1fr;
                    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.2);
                    transition: all 300ms;

                    cursor: pointer;

                    &:hover {
                        color: $clr-white;
                        background-color: $bg-selection;
                        border: 2px solid transparent;
                        transform: scale(1.06);
                    }

                    &.selected {
                        color: $clr-white;
                        background-color: $bg-selection;
                        border: 2px solid transparent;
                    }

                    &.warning {
                        color: $clr-white;
                        background-color: $bg-warning;
                        border: 2px solid transparent;
                    }

                    &.success {
                        color: $clr-white;
                        background-color: $bg-success;
                        border: 2px solid transparent;
                    }

                    .fa-regular {
                        justify-self: flex-end;
                    }
                }
            }
        }

        .btn-next {
            padding: 1rem 2.5rem;
            position: absolute;
            right: 3.5rem;
            bottom: 1rem;
            background-color: $bg-selection;
            border: none;
            box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
            border-radius: 8px;
            @include text(16px, $clr-white, 500);
            cursor: pointer;
            transition: all 300ms;

            &:hover {
                background-color: #ee9300;
                transform: scale(1.1);
            }
        }

        /* Results */
        .result-container{
            display: grid;
            justify-items: center;

            .results-img{
                margin: 4rem 0 5rem 0;
            }
            .results-title{
                @include text(4.8rem, $clr-result, 700);
            }

            .results-text{
                @include text(1.8rem, $clr-result, 300);

                span {
                    font-weight: 700;
                    font-size: 3.6rem;
                    color: #6fcf97;
                }
            }

            .btn-again{
                @include text(1.8rem, $clr-result, 600);
                background-color: $clr-white;
                border: 2px solid $clr-result;
                border-radius: 12px;
                padding: 1.3rem 4rem;
                margin: 6rem 0 3rem 0;
            }
        }
        
    }

}


@media (max-width: 575.98px) {
    html {
        font-size: 55%;
    }

    
}

@media (max-width: 437px) {
    html {
        font-size: 50%;
    }

    .app{
        justify-content: flex-start;

        .content {
            margin-top: 12rem;
        }
    }
}
